<div class="slide-body">
    <div class="img-container">
        <img src="/img/news/new1.jpeg" alt="">
    </div>
    <div class="new">
        <div class="header">
            <p><%= noticia.title %> </p>
            <p><%= noticia.date %> </p>
        </div>
        <div class="body">
            <p><%= noticia.content %></p>
        </div>
    </div>
</div>