

  <div class="row row-cols-1 row-cols-md-4 g-4 cardsContainer">
    <% listaSponsors.forEach(sponsor => { %>
    <div class="col">
      <div class="card h-100" style="max-width: 15rem;">
        <img src="/img/sponsors/<%= sponsor.imagen %>" style="max-height: 8rem;" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"><%= sponsor.nombre %></h5>
          
        </div>
      </div>
    </div>
   
    <% }) %>
    
  </div>


