
<section class="sponsorsContainer">
<% listaSponsors.forEach(sponsor => { %>
<div class="card-sponsors">        
    <!-- <a href="#"> -->
        <img src="/img/sponsors/<%= sponsor.imagen %>" class="imagen-sponsors">
        <!-- <p class="nombre-sponsors"><%= sponsor.nombre %></p>         -->
    <!-- </a> -->
</div>
<% }) %>
</section>


