<footer class="footer">
    <section class="sectionFooter">
        <div class="containerContact">
            <h2>Contacto</h2>
            <li class="topLi"><i class="fa-solid fa-phone"></i> +54 3329 423860</li>
            <li class="centerLi"><i class="fa-brands fa-whatsapp"></i > +54 3329 537187</li>
            <li class="centerLi"><i class="fa-solid fa-envelope"></i> gcfosiles@gmail.com</li>
            <li class="centerLi"><i class="fa-brands fa-facebook-f"></i> Facebook del museo</li>
            <li class="downLi"><i class="fa-brands fa-instagram"></i> @museopaleo.sp</li>
        </div>
        <div class="containerLocation">
            <h2>Ubicación</h2>
            <p>Carlos Pellegrini 145 San Pedro, Buenos Aires</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3320.307255888249!2d-59.66389698423933!3d-33.67510741646445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95ba22cdd09b3a17%3A0x9c77cd58f7e46c39!2sMuseo%20Paleontol%C3%B3gico%20%22Fray%20Manuel%20de%20Torres%22!5e0!3m2!1ses-419!2sar!4v1656104644979!5m2!1ses-419!2sar" width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <section class="formSubscription">
        <p>Suscribite para recibir nuevas noticias.</p>
        <form action="">
            <input type="email" name="emailSubscription">
            <button type="submit"><i class="fa-solid fa-check"></i></button>
        </form>
    </section>
</footer>