<!-- <header>
    <div class='container'>
      <nav class="navBar" id="navigationBar">
        <ul>
          <li class="homeButton"><a class="menu"  href="/"><i class="fa-solid fa-house"></i></a></li>
          <li class="viewButton"><a class="menu"  href="/museum/tour">Recorrida del Museo</a></li>
          <li class="viewButton"><a class="menu"  href="/museum/visit">Visita al yacimiento</a></li>
          <li class="viewButton"><a class="menu"  href="/#fourthPage">Quienes somos</a></li>
          <a href="#" id="menu-icon"></a>
        </ul>
      </nav>
    </div>
</header> -->

<header>
    <nav class="navBar" id="navigationBar">
        <a class="homeButton" href="/"><p class="menu"><i class="fa-solid fa-house"></i></p></a>
        <a class="viewButton" href="/museum/tour"><p class="menu">Recorrida del Museo</p></a>
        <a class="viewButton" href="/museum/visit"><p class="menu">Visita al yacimiento</p></a>
        <a class="viewButton" href="/#fourthPage"><p class="menu">Quienes somos</p></a>
    </nav>
</header>