<header>
    <div class='container'>
    <div id="navigation-bar">
      <nav>
        <ul>
          <li><a class="menu"  href=#>Recorrida del Museo</a></li>
          <li><a class="menu"  href=#>Visita al Campo</a></li>
          <a href="#" id="menu-icon"></a>
        </ul>
      </nav>
    </div>
    </div>
    </header>