<header>
    <div class='container'>
      <nav class="navBar" id="navigationBar">
        <ul>
          <li class="homeButton"><a class="menu"  href="/"><i class="fa-solid fa-house"></i></a></li>
          <li class="viewButton"><a class="menu"  href="/museum/tour">Recorrida del Museo</a></li>
          <li class="viewButton"><a class="menu"  href="/museum/visit">Visita al yacimiento</a></li>
          <li class="viewButton"><a class="menu"  href="/#whoWeAre">Quienes somos</a></li>
          <a href="#" id="menu-icon"></a>
        </ul>
      </nav>
    </div>
</header>