<div class="images-container">
    <img src="/img/Glyptodon.jpg" alt="" class="index-image">
    <img src="/img/pya2.jpg" alt="" class="index-image">
    <img src="/img/thePlatensis.jpg" alt="" class="index-image">
</div>