<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head') %>

<body class="bodyAdmin">

    <%- include ('partials/header') %>

    <main id="fullPage">
        <% if (locals.logged) { %>
            <div class="admin-logged-view">
                    <div>
                        <a class="admin-options" href="/news/create"><i class="fa-solid fa-plus"></i></i></i> Crear Noticia</a>
                        <a class="admin-options" href="/sponsors/create"><i class="fa-solid fa-plus"></i></i></i> Crear Sponsor</a>
                    </div>
                    <form action="/admin/logout" method="post">
                        <button class="admin-options" id="logout-button" type="submit">Cerrar Session <i class="fa-solid fa-door-open"></i></button>
                    </form>
            </div>
        <% } else { %>
            <div class="section" id="adminLogin">
                <form action="/admin/login" method="post" class="form">
                    <div id="login">
                        <div>
                            <h4 class="title">Iniciar Sesion</h4>
                        </div>
                        <div>
                            <input type="email" name="email" class="input" placeholder="ejemplo@email.com">
                            <br>
                            <input type="password" name="password" class="input" placeholder="Contraseña">
                        </div>
                        <div>
                            <button type="submit" class="button"><i class="fa-solid fa-user"></i>
                                <p>Iniciar sesión</p>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        <% } %>
         
         

        

        <!-- <div class="section">

            <a href="/news/list"> Ver lista de Noticias</a>

            <form method="POST" action="/" enctype="multipart/form-data" class="news-form-container">
                <legend class="legend-news-form"><p>Creando Noticia</p><i class="fa-solid fa-pen-to-square"></i></legend>
                <label for="title" class="label-news-form">Titulo: </label>
                <input type="text" name="news_title" class="input-news-form" placeholder="Título">
                <label for="date" class="label-news-form">Fecha: </label>
                <input type="date" name="news_date" class="input-news-form">
                <label for="text" class="label-news-form">Detalle: </label>
                <textarea name="news_description" class="input-news-form detail-input-news-form" rows="5" cols="100" placeholder="Detalle"></textarea>
                <label for="img" class="label-news-form">Subir Imagen: </label>
                <input type="file" name="news_image" accept=".jpg, .png" class="input-news-form img-input">
                <button type="submit" class="submit-button-news-form"><i class="fa-solid fa-check"></i> Guardar</button>
                <button type="reset" class="button-delete-news button" id="reset-button"><i class="fa-solid fa-trash-can"></i><p>Deshacer</p></button>
            </form>

            <form method="POST" action="/" enctype="multipart/form-data" class="form">
                <div class="create-news">
                <h4 class="legend-create-news title">Crear Producto</h4>
                    <div class="admin-container">
                        <input type="text" name="news_title" class="news-title input mid" placeholder="Título">
                        <input type="date" name="news_date" class="news-date input mid">
                    </div>
                    <div class="create-news">
                        <textarea name="news_description" class="news-description input" rows="5" cols="100" placeholder="lorem ipsum"></textarea>
                    </div>
                    <div class="buttons-container" id="">
                        <input type="file" name="news_image" accept=".jpg, .png" class="file-input">
                        <button type="submit" class="button-create-news button" id="submit-button"><i class="fa-solid fa-check"></i><p>Crear</p></button>
                        <button type="reset" class="button-delete-news button" id="reset-button"><i class="fa-solid fa-trash-can"></i><p>Deshacer</p></button>
                    </div>
                </div>
            </form>

        </div> -->

        

        <!-- <div class="section">
                
        </div> -->

    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.9/fullpage.js"
        integrity="sha512-Ql+BI+ZJBJ9b8dZ5FKuyCz42y0ZcG05muq5tHIfb0Qxe0TlEtGkYXV8Df7h6HbJolt6Rhz6gRMBLypwX6slbzw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/fullPage.js"></script>
    <script src="/js/carousel.js"></script>
    <script src="/js/newsModal.js"></script>
</body>

</html>