<!DOCTYPE html>
<html lang="en">
<%- include ("partials/head") %>

<body class="bodyCountrysideVisit">
    <%- include ('partials/header') %>
    <div class="botonContacto">
        <a class="fixedButton" href="/museum/visit/#fourthPage">
            <h6>Contacto<i class="fa-solid fa-location-dot"></i></h6>
        </a>
    </div>

    <main id="fullPage">
        <div class="section parteUnoHome">
            <h1 class="nombreDelMuseo">Museo Paleontológico de San Pedro</h1>
            <hr class="solid">
            <h4 class="subtituloHome">...un viaje imaginario a un pasado fascinante</h4>
            <div class="standardButton">
                <a class="navigation" href="/museum/visit/#thirdPage"><i
                        class="fa-solid fa-arrow-down"></i>Novedades</a>
            </div>
        </div>
        <div class="section containerRoute">
            <div class="signTxtImg">
                <p>
                    <img src="/img/100_9625.JPG" alt="" class="imgHistory">
                    Un lugar único en la provincia de Buenos Aires.
                    <br>
                    Este sitio, descubierto en noviembre de 2001 en el campo de la familia Spósito, es un yacimiento
                    impactante por la alta concentración de restos de la fauna que habitó la zona hace medio millón de
                    años.
                    <br>
                    Hoy, gracias a los trabajos del personal del Museo, se sabe que por el lugar corría un río que
                    acumuló partes de diferentes animales que se hundieron en el fangoso lecho para conservarse, después
                    de miles de años, en estado fósil.
                    <br>
                    El Museo organiza salidas al lugar donde el visitante aprende a descubrir fósiles y a diferenciar
                    las capas del subsuelo de la zona.
                    Además se pueden ver puntos donde los trabajos del equipo aún continúan.
                </p>
            </div>
        </div>

        <div class="section containerFossilization">
            <div class="fossilizationCard">
                <h4 class="fosil-title">Glyptodon</h4>
                <div class="containerImgFossil">
                    <img src="/img/Glyptodon.jpg" alt="" class="imgCardFossil">
                </div>
                <div class="fosil-info">
                    <p >Coraza fragmentada de un armadillo
                        fòsil descubierta en una cantera de la
                        Empresa Tosquera San Pedro S.A.
    
                        Estos corpulentos annimales se extinguieron
                        hace unos 10.000 años aproximadamente.
                    </p>
                </div>
            </div>
            <div class="fossilizationCard">
                <h4 class="fosil-title">Glyptodon</h4>
                <div class="containerImgFossil">
                    <img src="/img/Glyptodon.jpg" alt="" class="imgCardFossil">
                </div>
                <div class="fosil-info">
                    <p >Coraza fragmentada de un armadillo
                        fòsil descubierta en una cantera de la
                        Empresa Tosquera San Pedro S.A.
    
                        Estos corpulentos annimales se extinguieron
                        hace unos 10.000 años aproximadamente.
                    </p>
                </div>
            </div>
            <div class="fossilizationCard">
                <h4 class="fosil-title">Glyptodon</h4>
                <div class="containerImgFossil">
                    <img src="/img/Glyptodon.jpg" alt="" class="imgCardFossil">
                </div>
                <div class="fosil-info">
                    <p >Coraza fragmentada de un armadillo
                        fòsil descubierta en una cantera de la
                        Empresa Tosquera San Pedro S.A.
    
                        Estos corpulentos annimales se extinguieron
                        hace unos 10.000 años aproximadamente.
                    </p>
                </div>
            </div>
            <div class="fossilizationCard">
                <h4 class="fosil-title">Glyptodon</h4>
                <div class="containerImgFossil">
                    <img src="/img/Glyptodon.jpg" alt="" class="imgCardFossil">
                </div>
                <div class="fosil-info">
                    <p >Coraza fragmentada de un armadillo
                        fòsil descubierta en una cantera de la
                        Empresa Tosquera San Pedro S.A.
    
                        Estos corpulentos annimales se extinguieron
                        hace unos 10.000 años aproximadamente.
                    </p>
                </div>
            </div>
        </div>


        <div class="section containerRoute">
            <%- include("partials/footer") %>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.9/fullpage.js"
        integrity="sha512-Ql+BI+ZJBJ9b8dZ5FKuyCz42y0ZcG05muq5tHIfb0Qxe0TlEtGkYXV8Df7h6HbJolt6Rhz6gRMBLypwX6slbzw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/fullPage.js"></script>
</body>

</html>