<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head') %>

<body class="bodyAdmin">

    <%- include ('partials/header') %>

    <main id="fullPage">      
        <form method="POST" action="/admin/register" class="news-form-container">
            <legend class="legend-news-form"><p>Creando Administrador</p><i class="fa-solid fa-pen-to-square"></i></legend>
            <!-- <a href="http://localhost:8000/" class="cancel-changes-news-form"><i class="fa-solid fa-xmark"></i></a> -->
            <label for="email" class="label-news-form">E-mail: </label>
            <input type="text" name="email" value="" class="input-news-form" placeholder="picunleufu@gmail.com">
            <label for="password" class="label-news-form">Contraseña: </label>
            <input type="password" name="password" value="" class="input-news-form" placeholder="********">
            <label for="password-confirm" class="label-news-form">Confirmar contraseña: </label>
            <input type="password" name="password-confirm" value="" class="input-news-form" placeholder="********">
            <div class="create-sponsor-buttons">
                <button type="submit" class="button-create-news submit-button-news-form"><i class="fa-solid fa-check"></i>Crear</button>
            </div>
        </form>
    </main>
</body>
</html>