<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/subs/emails" enctype="multipart/form-data">
        <label for="affair">ASUNTO:</label>
        <input name="affair" value="" type="text" required>

        <!-- <label for="title">TITULO DE LA NOTICIA:</label>
        <input name="title" type="text" required>

        <label for="message">Mensaje:</label>
        <textarea type="text" name="message" id="message" required></textarea>

        <label>Imagenes:</label>
        <input type="file" name="image1">
        <input type="file" name="image2">
        <input type="file" name="image3"> -->

        <button type="submit">Enviar</button>
    </form>
</body>
</html>

<!-- dzhfeyaxvontgcvg -->