<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head') %>

<body class="bodyMuseumTour">
    <%- include ('partials/header') %>

    <main>
        <div class="parteUnoHome">
            <h1 class="nombreDelMuseo">Museo Paleontológico de San Pedro</h1>
            <hr class="solid">
            <h2 class="subtituloHome">...un viaje imaginario a un pasado fascinante</h2>
        </div>

        <div class="anchorNavigation">
            <a class="navigation" href="#novedades"><i class="fa-solid fa-circle-arrow-down"></i>Piezas destacadas</a>
        </div>
        <div class="botonContacto">
            <a class="fixedButton" href="#">
                <div class="roundedFixedBtn"><i class="fa fa-phone"></i></div>
            </a>
        </div>
        <div class="containerRoute">
            <p>
                <img src="/img/IMG_20220401_175002840.jpg" alt="" class="imgDinosaur">
                Este Museo está montado en un histórico caserón de 1895, propiedad de la Municipalidad de San Pedro,
                institución con la que se interactúa desde la fundación del museo. Dicho edificio fue restaurado, luego
                de más de tres décadas de abandono, por el grupo fundador del museo durante todo un año de duro trabajo.
      <br>
                El recorrido está distribuido en ocho salas cuidadosamente ambientadas donde se exponen los fósiles
                originales extraídos en barrancas y canteras de la zona.
                Una de las salas recrea una excavación mostrando el esqueleto de un gran perezoso fósil tal como fue
                hallado por los exploradores del Museo.
           <br>
                En la Sala 8, una recreación a escala real de Arqueomilodon, una especie de perezoso gigante totalmente
                nueva descubierta en San Pedro, atrae la atención de grandes y chicos.
                Más de treinta especies fósiles componen la muestra permanente del museo.
                Hasta se puede descender al sótano original de la casa transformado en sala de exposición de peces y
                moluscos fósiles!!
         
            </p>
            <p>
                <img src="/img/IMG_20220401_175101635.jpg" alt="" class="imgDinosaur">
                Al final de la muestra el visitante encuentra la Sala de Audiovisuales e Historia Reciente donde, en
                videos cortos y amenos, se cuenta la historia de la Institución y se observan imágenes de los trabajos
                de campo, rodeado por vitrinas donde se resguardan objetos de la historia cercana de la ciudad, cedidos
                por los vecinos o recuperados por el equipo del museo.
                <br>
                Saliendo de la misma y cruzando el bello patio interno que la gran casa posee se pasa por el Taller de
                Restauración vidriado donde se observa el trabajo del equipo sobre las piezas fósiles recién llegadas al
                Museo.
         <br>
                En el pasillo de salida aguarda el Libro de Visitas que invita a aquel que lo desee a plasmar su
                impresión sobre el viaje imaginario a un pasado fascinante que acaba de realizar.
            </p>
        </div>
        <%- include("partials/cards") %>
    </main>

    <%- include("partials/footer") %>
</body>

</html>