.bodyAdmin {
  background-image: url(../img/fotofondoPrueba.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 110%;
}

/* primera parte del home */
.formAdmin {
  margin-left: 5%;
  position: relative;
  z-index: 1;
  width: 90%;
  padding: 45px;
}

h3.login-title {
  text-align: center;
  color: #F5F5F5;
  margin-bottom: 5%;
}

/* log in form */
div.login-form {
  width: 90%;
}

input.barra-espacios {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 15px;
  outline: 0;
  border: 0;
  width: 90%;
  margin: 0 0 15px;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5%;
}
input.barra-espacios:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
input.barra-espacios:focus {
  color: #F5F5F5;
}

input::-moz-placeholder {
  color: #F5F5F5;
  text-align: center;
}

input:-ms-input-placeholder {
  color: #F5F5F5;
  text-align: center;
}

input::placeholder {
  color: #F5F5F5;
  text-align: center;
}

.remember-login {
  text-align: center;
  font-size: 16px;
  margin: 15px 0px;
}

label {
  display: flex;
  width: 25%;
  color: #F5F5F5;
  margin-left: 45%;
  margin-bottom: 5px;
}

input.recordar-usuario {
  align-self: center;
  verticle-align: middle;
  margin-right: 5px;
  margin-left: 5px;
}

.button-login-page {
  position: absolute;
  top: 50%;
  left: 42%;
}
.button-login-page .button-login .fa-user {
  padding: 10px 10px;
}

/* formulario crear noticias */
.legend-create-news {
  text-align: center;
  color: #F5F5F5;
  margin-bottom: 5%;
  margin-right: 30%;
  padding-right: 10%;
}

.section.create-news {
  margin-left: 5%;
  margin-top: 10%;
}

input.news-title {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  outline: 0;
  border: 0;
  width: 30%;
  margin: 0 0 15px;
  padding: 5px;
  border-radius: 5px;
}
input.news-title:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
input.news-title:focus {
  color: #dfdfdf;
}

input.news-date {
  color: #F5F5F5;
  background-color: rgba(255, 255, 255, 0.5);
  color: #F5F5F5;
  font-size: 15px;
  outline: 0;
  border: 0;
  width: 30%;
  margin: 0 0 0 355px;
  padding: 5px;
  border-radius: 5px;
}
input.news-date:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
textarea {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  outline: 0;
  border: 0;
  width: 90%;
  margin: 0 0 15px;
  padding: 5px;
  border-radius: 5px;
}
textarea:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
textarea:focus {
  color: #F5F5F5;
}

::-moz-placeholder {
  color: #F5F5F5;
}

:-ms-input-placeholder {
  color: #F5F5F5;
}

::placeholder {
  color: #F5F5F5;
}

.button-news {
  display: flex;
  width: 100%;
}

.button-create-news {
  margin-left: 46%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin-top: 10px;
}
.button-create-news:hover {
  background-color: #dfdfdf;
}

.button-delete-news {
  margin-left: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin-top: 10px;
}
.button-delete-news:hover {
  background-color: #dfdfdf;
}/*# sourceMappingURL=admin.css.map */