* {
  padding: 0px;
  margin: 0px;
}

.bodyAdmin {
  background-image: url(../img/fotofondoPrueba.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 110%;
}

<<<<<<< HEAD
/* primera parte del home */
form {
  margin-left: 5%;
  position: relative;
  z-index: 1;
=======
.form {
>>>>>>> d5d339f152e7ddb52b400fed4f1533493470eb5a
  width: 90%;
  margin: auto;
}
.form .title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto;
  color: #f5f5f5;
}
.form .input {
  margin: 10px auto;
  width: 100%;
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.3764705882);
  border: solid 2px rgba(245, 245, 245, 0.5019607843);
  border-radius: 100px;
  padding: 5px;
  text-align: center;
}
.form .input:focus {
  color: #f5f5f5;
}
.form .mid {
  display: inline;
  margin: 10px 0px;
  justify-self: center;
  width: 49%;
  font-size: 18px;
}
.form .news-description {
  border-radius: 15px;
}
.form .button {
  display: inline;
  flex-direction: row;
  align-items: center;
  width: 15%;
  margin: 10px 42.5%;
  padding: 5px;
<<<<<<< HEAD
  border-radius: 5px;
}

input.news-date:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

textarea {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  outline: 0;
  border: 0;
  width: 90%;
  margin: 0 0 15px;
  padding: 5px;
  border-radius: 5px;
}

textarea:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

textarea:focus {
  color: #F5F5F5;
}

::-webkit-input-placeholder {
  color: #F5F5F5;
}

:-ms-input-placeholder {
  color: #F5F5F5;
}

::-ms-input-placeholder {
  color: #F5F5F5;
}

::placeholder {
  color: #F5F5F5;
}

.button-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.button-create-news {
  margin-left: 46%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin-top: 10px;
}

.button-create-news:hover {
  background-color: #dfdfdf;
}

.button-delete-news {
  margin-left: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin-top: 10px;
}

.button-delete-news:hover {
  background-color: #dfdfdf;
}

/* formulario registro */
.button-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.button-create-user {
  margin-left: 40%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin-top: 10px;
}

.button-create-user:hover {
  background-color: #dfdfdf;
}

.button-delete-user {
  margin-left: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin-top: 10px;
}

.button-delete-user:hover {
  background-color: #dfdfdf;
}

/* editor noticias y admins */
h3.edit-title {
  text-align: center;
  color: #F5F5F5;
  margin-bottom: 5%;
}

.edit-newsAdmin-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  margin-left: 43%;
  margin-bottom: 10px;
  width: 80%;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  padding-left: 5px;
  top: 10px;
  margin-left: 25%;
  z-index: 100;
  width: 50%;
  text-align: left;
}

.search-bar input {
  height: 15px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}

::-webkit-input-placeholder {
  color: #78002e;
}

:-ms-input-placeholder {
  color: #78002e;
}

::-ms-input-placeholder {
  color: #78002e;
}

::placeholder {
  color: #78002e;
}

.navbar i {
  color: #78002e;
  font-size: 15px;
}

.barra-de-busqueda i {
  font-size: 12px;
}

.edit-newsAdmin-container a {
  text-decoration: none;
  color: white;
}

.tab-r {
  font-size: 15px;
  padding: 15px 25px;
  border-bottom: solid 2px #dcdcdc;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tab-r:hover {
  background-color: #dfdfdf;
}

.tab-l {
  font-size: 15px;
  padding: 15px 25px;
  border-bottom: solid 2px rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tab-l:hover {
  background-color: #dfdfdf;
}

.news-container {
  margin-left: 44%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin-top: 10px;
}

.news-container:hover {
  background-color: #dfdfdf;
}
/*# sourceMappingURL=admin.css.map */
=======
  background-color: rgba(0, 0, 0, 0.3764705882);
  border: solid 2px rgba(245, 245, 245, 0.5019607843);
  border-radius: 100px;
  color: #f5f5f5;
  font-size: 18px;
  transition: 0.5s;
}
.form .button:hover {
  background-color: rgba(0, 255, 0, 0.5019607843);
  border: 2px solid rgba(0, 255, 0, 0.5019607843);
}
.form .button i {
  display: inline;
  justify-self: left;
  transition: 0.5s;
  margin: 0px 10px 0px 0px;
}
.form .button p {
  display: inline;
  margin: auto;
  transition: 0.5s;
}

#submit-button {
  position: absolute;
  left: 15%;
  width: 10%;
}

#reset-button {
  position: absolute;
  width: 10%;
}
#reset-button:hover {
  background-color: rgba(255, 0, 0, 0.5019607843);
  border: rgba(255, 0, 0, 0.5019607843) 2px solid;
}/*# sourceMappingURL=admin.css.map */
>>>>>>> d5d339f152e7ddb52b400fed4f1533493470eb5a
