.bodyIndex
    background-image: url(../img/fotofondoPrueba.jpg)
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: 110%
  
/* primera parte del home */

div.parteUnoHome
  // margin-top: 20%
  margin-left: 5%
  width: 55%
  color: white
  h1.nombreDelMuseo
    font-size: 2em

#see-news
    margin: 10px
    i
        padding: 10px 10px

.sponsorsContainer
    display: flex
    flex-direction: row
    flex-flow: column wrap
    flex-wrap: nowrap
    align-content: center
    img
        width: 70%
        height: 160px
        margin: 20px

@media (min-width:425px)

    .sponsorsContainer
        img
            width: 30%
