.bodyMuseumTour
    background-image: url(../img/IMG_20220401_174914684.jpg)
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: 110%

/*Main styles*/
.containerRoute
    display: flex
    flex-direction: column
    background-color: rgba(245, 245, 245, 0.80)
    padding: 5%
    border-radius: 10px
    margin: 5% 0
    h2
        text-align: center
    p
        font-size: 22px
    .imgDinosaur
        float: right
        width: 100%
        height: 250px
        border-radius: 10px
    .dinosaurLeft
        float: left
    .imgMammal
        float: right
        border-radius: 10px
        width: 100%
        height: 250px
    .mammalLeft
        float: left


@media (min-width: 1020px)

    .containerRoute
        .imgDinosaur
            width: 300px
            margin: 5px 15px 5px 15px
        .imgMammal
            width: 250px
            margin: 25px 15px
