.bodyMuseumTour
    background-image: url(../img/IMG_20220401_174914684.jpg)
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: 110%

/*Main styles*/
.containerRoute
    display: flex
    width: 100%
    align-items: center
    background-color: rgba(000, 000, 000, 0.80)
    .signTxtImg
        width: 90vw
        justify-content: center
        display: flex
        flex-direction: column
        padding: 5%
        border-radius: 10px
        margin: 5% 0
        background-color: rgba(245, 245, 245, 0.80)
        h2
            text-align: center
        p
            font-size: 14px
            font-family: sans-serif
            margin-bottom: 0
        .imgHistory
            display: none



@media (min-width: 1020px)

    .containerRoute
        .signTxtImg
            padding: 2%
            p
                font-size: 16px
            .imgHistory
                display: flex
                float: right
                border-radius: 10px
                width: 250px
                margin: 25px 15px
            .historyLeft
                float: left

@media (min-width: 1900px)
    .containerRoute
        .signTxtImg
            p
                font-size: 18px
