body
    background-image: url(../img/fotofondoPrueba.jpg)
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: 110%

main
    width: 100%
    margin-top: 10% 
    display: flex
    flex-direction: column
    flex-wrap: wrap
    align-items: center
    .new-title
        width: 80%
        text-align: center
        color: white
    .image-container
        width: 50%
        img
            width: 100%
    .new-body
        width: 50%
        color: white
